

<div class="about">
  <h4>Hello.
  My name is Boris. 
  I bought DJI Drone for me as my Birthday treat in december 2016.
  Since then I'm in love with it. Seeing pictures and videos taken from the sky is so amazing. Even regular things that you see every day look so much different from above.
  <br>
  So there wasn't really a question what do I want to do for my capstone project. I wanted to do something related to my passion. And Social platform, allowing users to share and discover pictures taken from Drones, is related to my passion to Drones and to photography/videography at the same time.

  I hope you enjoy thi web-site.

  I will add feedback section later, but for now, please feel free to reach out to me via IG: <a href="https://www.instagram.com/boris_003/">@boris_003</a> (IM)
  </h4>
  <br>
  <a href="https://www.instagram.com/boris_003/"><%=image_tag("6389523_456239103.jpg")%> </a>
</div>