<h1>Hi there! Wanna be part of cool society? Let's get you an account!</h1>
<h3> Please provide info in form below:</h3>

<%= form_tag '/users', method: :post do  %>
  Nickname: <input type="text" name="nickname"> <br>
<!--   Name: <input type="text" name="name"> <br> -->
  Email: <input type="email" name="email"> <br>
  Password: <input type="password" name="password"> <br>
  Confirm Password: <input type="password" name="password_confirmation"> <br>
  Location: <input type="text" name="location"> <br>
<!--   Drone Model: <input type="text" name="drone_model"> <br> -->
<!--   About me: <textarea type="message" rows="5" cols="30" name="bio"> </textarea> <br> -->
  <input type="submit" value="Sign Me Up">
<% end %>