<div>
  <% if @post && @post.errors.any? %>
    <h3> <%= @post.error.count %> errors prohibited this post from being saved </h3>
    <ul>
      <%= @post.errors.full_message.each do |message| %>
        <li><%= message %></li>
        
      <% end %>
    </ul>
  <% end %>
</div>

<%= form_tag "/posts", method: :post do %>
  <div> 
    Title <input type="text" name="title">
  </div>
  <div> 
    Description <input type="text" name="description">
  </div>
  <input type="submit" value="Post!">


<% end %>