<h3> <%= @post.user.nickname %> </h3>
<h1>Title: <%= @post.title %> </h1>
<h2>Description: <%= @post.description %> </h2>
Tags: 
<% @post.tags.each do |tag|%>
  <li> <%= tag.name %> </li>
<% end %>  



<p>   
<p>
=============================
<p>

<p>   
<div class="button"> <a href="/"> Back to My Feed </a> </div>